---
title: Vague Output
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "vagueoutput-logo.png" %>
  </div>
  <h1>Vague Output</h1>
  <p class="doc">
    <%= link_to "Releases", "http://vagueoutput.bandcamp.com", target: "_blank" %>
    <%= link_to "Soundcloud", "https://soundcloud.com/vagueoutput", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
