---
title: Vague Output
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "VO-P.jpg" %>
  </div>
  <p class="doc">
    <%= link_to "Releases", "http://vagueoutput.bandcamp.com", target: "_blank" %>
    <%= link_to "Live Sets", "https://soundcloud.com/vagueoutput", target: "_blank" %>
    <%= link_to "Parties", "https://www.facebook.com/VagueOutput/events", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
